<div class="card bg-body bg-opacity-50 card-custom shadow-sm border-0 rounded-2 mb-3">
    <div class="card-body flex-column">
      <div class="card-rounded d-flex flex-stack flex-wrap">
        <ul class="nav flex-wrap border-transparent fw-bold">
          <li class="nav-item my-0">
            <a
            class="pjax-load btn btn-color-gray-600 btn-active-secondary btn-active-color-primary fw-bolder fs-8 fs-lg-base nav-link px-3 px-lg-8 mx-1 text-uppercase"
            href="/staffConfiguration/department"
              data-pjax-state=""
              >Phòng ban</a
            >
          </li>
          <li class="nav-item my-0">
            <a
              class="pjax-load btn btn-color-gray-600 btn-active-secondary btn-active-color-primary fw-bolder fs-8 fs-lg-base nav-link px-3 px-lg-8 mx-1 text-uppercase"
              href="/staffConfiguration/position"
              data-pjax-state=""
              >Chức vụ</a
            >
          </li>
          <li class="nav-item my-0">
            <a
              class="pjax-load btn btn-color-gray-600 btn-active-secondary btn-active-color-primary fw-bolder fs-8 fs-lg-base nav-link px-3 px-lg-8 mx-1 text-uppercase"
              href="/staffConfiguration/salary"
              data-pjax-state=""
              >Tiền lương</a
            >
          </li>

          <li class="nav-item my-0">
            <a
              class="pjax-load btn btn-color-gray-600 btn-active-secondary btn-active-color-primary fw-bolder fs-8 fs-lg-base nav-link px-3 px-lg-8 mx-1 text-uppercase"
              href="/staffConfiguration/latetime"
              data-pjax-state=""
              >Đi trễ về sớm</a
            >
          </li>
          <li class="nav-item my-0">
            <a
              class="pjax-load btn btn-color-gray-600 btn-active-secondary btn-active-color-primary fw-bolder fs-8 fs-lg-base nav-link px-3 px-lg-8 mx-1 text-uppercase"
              href="/staffConfiguration/workingTime"
              data-pjax-state=""
              >Thời gian làm việc</a
            >
          </li>
          <li class="nav-item my-0">
            <a
              class="pjax-load btn btn-color-gray-600 btn-active-secondary btn-active-color-primary fw-bolder fs-8 fs-lg-base nav-link px-3 px-lg-8 mx-1 text-uppercase"
              href="/manager/leavetypes"
              data-pjax-state=""
              >Nghỉ phép</a
            >
          </li>
          <li class="nav-item my-0">
            <a
              class="pjax-load btn btn-color-gray-600 btn-active-secondary btn-active-color-primary fw-bolder fs-8 fs-lg-base nav-link px-3 px-lg-8 mx-1 text-uppercase"
              href="/staffConfiguration/holiday"
              data-pjax-state=""
              >Ngày lễ</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>