<div class="container">
    <div class="mb-3 d-flex justify-content-between align-items-center">
        <div>
            <h4 class="mb-0 fw-bold text-body"><?=$title?></h4>
            <ul class="breadcrumb small mb-0">
                <li class="breadcrumb-item small">
                    <a href="/" class="pjax-load link-secondary"><?=$jatbi->lang("Trang chủ")?></a>
                </li>
                <li class="breadcrumb-item small text-body" aria-current="page"><?=$title?>
                </li>
            </ul>
        </div>
    </div>
    <div class="card bg-body bg-opacity-50 card-custom shadow-sm rounded-2 mb-3">
        <div class="card-body flex-column">
            <div class="card-rounded d-flex flex-stack flex-wrap">
                <ul class="nav flex-wrap border-transparent fw-bold">
                    <li class="nav-item my-0">
                        <a class="pjax-load btn fw-bolder fs-8 fs-lg-base nav-link px-3 px-lg-8 mx-1 text-uppercase 
                            " href="/staffConfiguration" data-pjax-state="">Phòng ban</a>
                    </li>
                    <li class="nav-item my-0">
                        <a class="pjax-load btn btn-color-gray-600 btn-active-secondary btn-active-color-primary fw-bolder fs-8 fs-lg-base nav-link px-3 px-lg-8 mx-1 text-uppercase 
                            " href="/staffConfiguration" data-pjax-state="">Chức vụ</a>
                    </li>
                    <li class="nav-item my-0">
                        <a class="pjax-load btn btn-color-gray-600 btn-active-secondary btn-active-color-primary fw-bolder fs-8 fs-lg-base nav-link px-3 px-lg-8 mx-1 text-uppercase 
                            " href="/hrm/config/salary/" data-pjax-state="">Tiền lương</a>
                    </li>
                   
                    <li class="nav-item my-0">
                        <a class="pjax-load btn btn-color-gray-600 btn-active-secondary btn-active-color-primary fw-bolder fs-8 fs-lg-base nav-link px-3 px-lg-8 mx-1 text-uppercase 
                            " href="/hrm/config/timelate/" data-pjax-state="">Đi trễ về sớm</a>
                    </li>
                    <li class="nav-item my-0">
                        <a class="pjax-load btn btn-color-gray-600 btn-active-secondary btn-active-color-primary fw-bolder fs-8 fs-lg-base nav-link px-3 px-lg-8 mx-1 text-uppercase 
                            " href="/hrm/config/timework/" data-pjax-state="">Thời gian làm việc</a>
                    </li>
                    <li class="nav-item my-0">
                        <a class="pjax-load btn btn-color-gray-600 btn-active-secondary btn-active-color-primary fw-bolder fs-8 fs-lg-base nav-link px-3 px-lg-8 mx-1 text-uppercase 
                            " href="/hrm/config/furlough/" data-pjax-state="">Nghỉ phép</a>
                    </li>
                    <li class="nav-item my-0">
                        <a class="pjax-load btn btn-color-gray-600 btn-active-secondary btn-active-color-primary fw-bolder fs-8 fs-lg-base nav-link px-3 px-lg-8 mx-1 text-uppercase 
                            " href="/hrm/config/holiday/" data-pjax-state="">Ngày lễ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


  