<div class="app-container container-fluid flex-stack">
    <div class="mb-3 d-flex justify-content-between align-items-center">
        <div>
            <h4 class="mb-0 fw-bold text-body"><?=$title?></h4>
            <ul class="breadcrumb small mb-0">
                <li class="breadcrumb-item small">
                    <a href="/" class="pjax-load link-secondary"><?=$jatbi->lang("Trang chủ")?></a>
                </li>
                <li class="breadcrumb-item small text-body" aria-current="page"><?=$title?>
                </li>
            </ul>
        </div>
        <div class="filter-search">
            <div class="d-flex align-items-center justify-content-end">
                <div class="dropdown">
                    <button class="btn btn-primary-light fw-semibold border-0 rounded-pill small d-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                        <i class="ti ti-filter fs-5 me-2"></i><?=$jatbi->lang("Điều kiện lọc")?>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end border-0 shadow-lg rounded-4 min-width bg-blur" style="--min-width: 300px; --min-width-xs: 100vw">
                        <div class="fw-semibold py-2 px-3"><?=$jatbi->lang("Điều kiện lọc")?></div>
                        <hr class="border-secondary border-opacity-50 my-2" />
                        <div class="px-3">
                        <?=$app->component('select',[
                            "name"=>'status',
                            "placeholder"=>$jatbi->lang("Phòng ban"),
                            "selected" => $app->xss($_GET['status'] ?? ''),
                            "class" => 'filter-name',
                            "attr" => 'data-width="100%"',
                            "options" => [["value"=>"A","text"=>$jatbi->lang("Kích hoạt")],["value"=>"D","text"=>$jatbi->lang("Không Kích hoạt")],]
                        ])?>
                        <?=$app->component('select',[
                            "name"=>'employee',
                            "placeholder"=>$jatbi->lang("Nhân viên"),
                            "selected" => $app->xss($_GET['permission'] ?? ''),
                            "class" => 'filter-name',         
                            "attr" => 'data-width="100%" multiple data-actions-box="true"',
                            "options" => $employee,
                        ])?>
                            <div class="mb-3">
                                <label class="fw-bold text-body mb-2"><?=$jatbi->lang("Tháng")?></label>
                                <select data-select data-style="form-select bg-body-tertiary py-3 rounded-4 w-100" class="filter-name" data-live-search="true" data-width="100%" name="month">
                                    <option value="01" <?=$month== '01'?'selected':''?>>1</option>
                                    <option value="02" <?=$month== '02'?'selected':''?>>2</option>
                                    <option value="03" <?=$month== '03'?'selected':''?>>3</option>
                                    <option value="04" <?=$month== '04'?'selected':''?>>4</option>
                                    <option value="05" <?=$month== '05'?'selected':''?>>5</option>
                                    <option value="06" <?=$month== '06'?'selected':''?>>6</option>
                                    <option value="07" <?=$month== '07'?'selected':''?>>7</option>
                                    <option value="08" <?=$month== '08'?'selected':''?>>8</option>
                                    <option value="09" <?=$month== '09'?'selected':''?>>9</option>
                                    <option value="10" <?=$month== '10'?'selected':''?>>10</option>
                                    <option value="11" <?=$month== '11'?'selected':''?>>11</option>
                                    <option value="12" <?=$month== '12'?'selected':''?>>12</option>
                                </select>
                            </div>
                            <div class="mb-3">
                              <label class="fw-bold text-body mb-2"><?=$jatbi->lang("Năm")?></label>
                              <select data-select data-style="form-select bg-body-tertiary py-3 rounded-4 w-100" class="filter-name" data-live-search="true" data-width="100%" name="yesr">
                                  <?php 
                                  for($i = 2020; $i <= $year; $i++) {?>
                                    <option value="<?=$i?>" <?=$year == $i?'selected':''?>><?=$i?></option>
                                  <?php }?>
                              </select>
                          </div>
                        </div>
                        <hr class="border-secondary border-opacity-50 my-2" />
                        <div class="px-3 py-2 text-end w-100">
                            <button
                            type="button"
                            class="btn btn-light px-3 py-2 rounded-pill reset-filter"
                            >
                            <?=$jatbi->lang("Làm mới")?>
                            </button>
                            <button
                            type="button"
                            class="btn btn-primary px-3 py-2 rounded-pill button-filter"
                            >
                            <?=$jatbi->lang("Tìm")?>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-body bg-opacity-50 shadow border-0 rounded-4">
        <!-- <h4 class="mt-2 fw-bold text-center"><?=$title?></h4> -->

        <div class="card-body">

            
            <table 
            id="datatable"
            data-table
            class="table table-striped align-middle"
            data-type="POST"
            data-server="true"
            data-processing="true"
            data-page-length="10"
            data-searching="true"
            data-paging="true"
            data-state-save="true"
            style="width: 100%">
                <thead>
                    <tr class="text-gray-700 fw-bold fs-7 text-uppercase gs-0">
                        <th 
                        data-name="numericalOrder" data-class="bg-info bg-opacity-10"
                        class="align-middle text-center bg-info bg-opacity-10" rowspan="2"></th>              
                        <th 
                        data-name="personSn" data-class="text-start bg-info bg-opacity-10" 
                        class="align-middle text-center bg-info bg-opacity-10" rowspan="2">Nhân viên</th>
                        <th 
                        data-name="departmentId" data-class="text-start bg-info bg-opacity-10" 
                        class="align-middle text-center bg-info bg-opacity-10" rowspan="2">Phòng ban</th> 
                        <td 
                        data-class=""
                        class="text-center bg-success bg-opacity-10" colspan="<?php if(!empty($salary_list)) { echo count($salary_list) + 2; } else { echo 2; };?>">Tiền lương</td>
                        <td
                        data-class=""
                        class="text-center bg-warning bg-opacity-10" colspan="7">Chấm công</td>
                        <td 
                        data-class=""
                        class="text-center bg-danger bg-opacity-10" colspan="2">Khen thưởng kỉ luật</td>  
                        <td 
                        data-class=""
                        class="text-center bg-primary bg-opacity-10" colspan="3">Tổng</td>
                    </tr>
                    <tr class="text-gray-700 fw-bold fs-7 text-uppercase gs-0">
                        <?php
                        if(!empty($salary_list)) {
                            foreach ($salary_list as $key => $value) { ?>
                              <th 
                              data-name="salaryid<?=$key?>" data-class="text-start text-center bg-success bg-opacity-10" 
                              class="text-center bg-success bg-opacity-10"><?=$value?></th>
                              
                        <?php }
                        } ?>
                        <th 
                        data-name="dailySalary" data-class="text-end bg-success bg-opacity-10" 
                        class="text-center bg-success bg-opacity-10">lương ngày</th>
                        <th 
                        data-name="insurance" data-class="text-start text-center bg-success bg-opacity-10" 
                        class="text-center bg-success bg-opacity-10">Bảo hiểm</th>
                        <th 
                        data-name="workingDays" data-class="text-center bg-warning bg-opacity-10" 
                        class="text-center bg-warning bg-opacity-10">Ngày công</th>
                        <th 
                        data-name="overtime" data-class="text-center bg-warning bg-opacity-10" 
                        class="text-center bg-warning bg-opacity-10">Tăng ca</th>
                        <th 
                        data-name="lateArrival/earlyLeave" data-class="text-center bg-warning bg-opacity-10" 
                        class="text-center bg-warning bg-opacity-10">Đi trễ về sớm</th>
                        <th 
                        data-name="unpaidLeave" data-class="text-center bg-warning bg-opacity-10" 
                        class="text-center bg-warning bg-opacity-10">Nghỉ không lương</th>
                        <th 
                        data-name="paidLeave" data-class="text-center bg-warning bg-opacity-10" 
                        class="text-center bg-warning bg-opacity-10">Nghỉ có lương</th>
                        <th 
                        data-name="unauthorizedLeave" data-class="text-center bg-warning bg-opacity-10" 
                        class="text-center bg-warning bg-opacity-10">Nghỉ không phép</th>
                        <th 
                        data-name="total" data-class="text-center bg-warning bg-opacity-10" 
                        class="text-center bg-warning bg-opacity-10">Tổng</th>
                        <th 
                        data-name="reward" data-class="text-end text-success bg-danger bg-opacity-10" 
                        class="text-center text-primary bg-danger bg-opacity-10">khen Thưởng</th>
                        <th 
                        data-name="discipline" data-class="text-end text-danger bg-danger bg-opacity-10" 
                        class="text-center bg-danger bg-opacity-10">Kỉ luật</th>   
                        <th 
                        data-name="provisionalSalary" data-class="text-end text-success bg-primary bg-opacity-10" 
                        class="text-center bg-primary bg-opacity-10">Tạm tính</th>
                        <th 
                        data-name="salaryAdvance" data-class="text-end text-danger bg-primary bg-opacity-10" 
                        class="text-center bg-primary bg-opacity-10">Ứng lương</th>
                        <th 
                        data-name="salaryReceived" data-class="text-end text-primary bg-primary bg-opacity-10" 
                        class="text-center">THỰC LÃNH</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>


  