<div class="modal fade modal-load" tabindex="-1">
  <div class="modal-dialog modal-lg pt-standalone">
    <div class="modal-content rounded-5">
      <div
        class="d-flex w-100 justify-content-end align-items-center position-relative"
      >
        <button
          type="button"
          class="btn btn-primary position-absolute z-1 rounded-circle d-flex align-items-center justify-content-center width height top right"
          data-bs-dismiss="modal"
          aria-label="Close"
          style="--width: 50px; --height: 50px; --top: -5px; --right: -5px"
        >
          <i class="ti ti-x fs-4"></i>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="mb-3" style="font-weight: 800">
          Hợp đồng lao động #<?=$vars['data']['id']?>
          -
          <?=$vars['data']['employee_name']?>
        </h5>

        <div class="mb-3">
          <div class="row">
            <div class="col-md-6">
              Nhân viên:
              <strong><?=$vars['data']['employee_name'] ?? 'N/A'?></strong>
            </div>
            <div class="col-md-6">
              Ngày phỏng vấn:
              <strong
                ><?=$vars['data']['interview_date'] ? date('d/m/Y', strtotime($vars['data']['interview_date'])) : 'N/A'?></strong
              >
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Ngày hợp đồng:
              <strong
                ><?=$vars['data']['working_date'] ? date('d/m/Y', strtotime($vars['data']['working_date'])) : 'N/A'?></strong
              >
            </div>
            <div class="col-md-6">
              Ngày làm việc:
              <strong
                ><?=$vars['data']['working_date'] ? date('d/m/Y', strtotime($vars['data']['working_date'])) : 'N/A'?></strong
              >
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Loại hợp đồng:
              <strong
                ><?=$jatbi->lang($vars['data']['contract_type'] ??
                'N/A')?></strong
              >
            </div>
            <div class="col-md-6">
              Trình độ:
              <strong><?=$vars['data']['education_level'] ?? 'N/A'?></strong>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Số hợp đồng:
              <strong><?=$vars['data']['contract_number'] ?? 'N/A'?></strong>
            </div>
            <div class="col-md-6">
              Bằng cấp:
              <strong><?=$vars['data']['degree'] ?? 'N/A'?></strong>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Thời hạn hợp đồng:
              <strong
                ><?=$vars['data']['contract_duration'] ? $vars['data']['contract_duration'] . ' tháng' : 'N/A'?></strong
              >
            </div>
            <div class="col-md-6">
              Thời gian còn lại:
              <strong><?=$vars['data']['remaining_days'] ?? 'N/A'?></strong>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Công việc:
              <strong><?=$vars['data']['department_name'] ?? 'N/A'?></strong>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <h6>Tiền lương</h6>
          <div class="row bg-light p-2">
            <div class="col-md-4">Nội dung</div>
            <div class="col-md-4">Số tiền</div>
            <div class="col-md-4">Ghi chú</div>
            <?php if (!empty($vars['data']['salaries'])): ?>
            <?php foreach ($vars['data']['salaries'] as $salary): ?>
            <div class="col-md-4">
              <strong><?=$salary['salary_name']?></strong>
            </div>
            <div class="col-md-4">
              <strong><?=number_format($salary['price']) . ' / Tháng'?></strong>
            </div>
            <div class="col-md-4">
              <strong><?=$salary['salary_note'] ?? ''?></strong>
            </div>
            <?php endforeach; ?>
            <?php else: ?>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <?php endif; ?>
          </div>
        </div>

        <div class="mb-3">
          <h6>Tiền trợ cấp</h6>
          <div class="row bg-light p-2">
            <div class="col-md-4">Nội dung</div>
            <div class="col-md-4">Số tiền</div>
            <div class="col-md-4">Ghi chú</div>
            <?php if (!empty($vars['data']['allowances'])): ?>
            <?php foreach ($vars['data']['allowances'] as $allowance): ?>
            <div class="col-md-4">
              <strong><?=$allowance['salary_name']?></strong>
            </div>
            <div class="col-md-4">
              <strong
                ><?=number_format($allowance['price']) . ' / Tháng'?></strong
              >
            </div>
            <div class="col-md-4">
              <strong><?=$allowance['salary_note'] ?? ''?></strong>
            </div>
            <?php endforeach; ?>
            <?php else: ?>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <?php endif; ?>
          </div>
        </div>

        <div class="mb-3">
          <h6>Ghi chú:</h6>
          <div>
            <strong><?=$vars['data']['note'] ?? ''?></strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
