<div class="modal fade modal-load" tabindex="-1">
  <div class="modal-dialog modal-lg pt-standalone">
    <div class="modal-content rounded-5">
      <div
        class="d-flex w-100 justify-content-end align-items-center position-relative"
      >
        <button
          type="button"
          class="btn btn-primary position-absolute z-1 rounded-circle d-flex align-items-center justify-content-center width height top right"
          data-bs-dismiss="modal"
          aria-label="Close"
          style="--width: 50px; --height: 50px; --top: -5px; --right: -5px"
        >
          <i class="ti ti-x fs-4"></i>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="mb-3" style="font-weight: 800">
          Hợp đồng lao động #<?=$vars['data']['id']?>
          -
          <?=$vars['data']['employee_name']?>
        </h5>

        <div class="mb-3">
          <div class="row">
            <div class="col-md-6">
              <strong>Nhân viên:</strong>
              <?=$vars['data']['employee_name'] ?? 'N/A'?>
            </div>
            <div class="col-md-6">
              <strong>Ngày phỏng vấn:</strong>
              <?=$vars['data']['interview_date'] ? date('d/m/Y', strtotime($vars['data']['interview_date'])) : 'N/A'?>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <strong>Ngày hợp đồng:</strong>
              <?=$vars['data']['working_date'] ? date('d/m/Y', strtotime($vars['data']['working_date'])) : 'N/A'?>
            </div>
            <div class="col-md-6">
              <strong>Ngày làm việc:</strong>
              <?=$vars['data']['working_date'] ? date('d/m/Y', strtotime($vars['data']['working_date'])) : 'N/A'?>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <strong>Loại hợp đồng:</strong>
              <?=$jatbi->lang($vars['data']['contract_type'] ?? 'N/A')?>
            </div>
            <div class="col-md-6">
              <strong>Trình độ:</strong>
              <?=$vars['data']['education_level'] ?? 'N/A'?>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <strong>Số hợp đồng:</strong>
              <?=$vars['data']['contract_number'] ?? 'N/A'?>
            </div>
            <div class="col-md-6">
              <strong>Bằng cấp:</strong>
              <?=$vars['data']['degree'] ?? 'N/A'?>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <strong>Thời hạn hợp đồng:</strong>
              <?=$vars['data']['contract_duration'] ? $vars['data']['contract_duration'] . ' tháng' : 'N/A'?>
            </div>
            <div class="col-md-6">
              <strong>Thời gian còn lại:</strong>
              <?=$vars['data']['remaining_days'] ?? 'N/A'?>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <strong>Công việc:</strong>
              <?=$vars['data']['department_name'] ?? 'N/A'?>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <h6 class="fw-bold">Tiền lương</h6>
          <div class="row bg-light p-2">
            <div class="col-md-4">
              <strong>Nội dung</strong>
            </div>
            <div class="col-md-4">
              <strong>Số tiền</strong>
            </div>
            <div class="col-md-4">
              <strong>Ghi chú</strong>
            </div>
            <?php if (!empty($vars['data']['salaries'])): ?>
            <?php foreach ($vars['data']['salaries'] as $salary): ?>
            <div class="col-md-4">
              <?=$salary['salary_name']?>
            </div>
            <div class="col-md-4">
              <?=number_format($salary['price']) . ' / Tháng'?>
            </div>
            <div class="col-md-4">
              <?=$salary['salary_note'] ?? ''?>
            </div>
            <?php endforeach; ?>
            <?php else: ?>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <?php endif; ?>
          </div>
        </div>

        <div class="mb-3">
          <h6 class="fw-bold">Tiền trợ cấp</h6>
          <div class="row bg-light p-2">
            <div class="col-md-4">
              <strong>Nội dung</strong>
            </div>
            <div class="col-md-4">
              <strong>Số tiền</strong>
            </div>
            <div class="col-md-4">
              <strong>Ghi chú</strong>
            </div>
            <?php if (!empty($vars['data']['allowances'])): ?>
            <?php foreach ($vars['data']['allowances'] as $allowance): ?>
            <div class="col-md-4">
              <?=$allowance['salary_name']?>
            </div>
            <div class="col-md-4">
              <?=number_format($allowance['price']) . ' / Tháng'?>
            </div>
            <div class="col-md-4">
              <?=$allowance['salary_note'] ?? ''?>
            </div>
            <?php endforeach; ?>
            <?php else: ?>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <?php endif; ?>
          </div>
        </div>

        <div class="mb-3">
          <h6 class="fw-bold">Ghi chú:</h6>
          <div><?=$vars['data']['note'] ?? ''?></div>
        </div>
      </div>
    </div>
  </div>
</div>
