<div class="modal fade modal-load" tabindex="-1" data-bs-backdrop="static">
	<div class="modal-dialog modal-lg pt-standalone">
		<div class="modal-content rounded-5">
			<div class="d-flex w-100 justify-content-end align-items-center position-relative">
				<button type="button" class="btn btn-primary position-absolute z-1 rounded-circle d-flex align-items-center justify-content-center width height top right" 
					data-bs-dismiss="modal" aria-label="Close" 
					style="--width:50px;--height:50px;--top:-5px;--right:-5px">
					<i class="ti ti-x fs-4"></i>
				</button>
			</div>
			<div class="modal-body">
				<h5 class="fw-bold text-body mb-3"><?= $title ?></h5>
				<form method="POST" action="<?= $_SERVER['REQUEST_URI'] ?>" onsubmit="handleSubmit(event)">
					<div class="row g-3">
						<div class="mb-3"><br>
							<label class="fw-bold text-body mb-2"><?= $jatbi->lang("Nhân Viên") ?> <span class="text-danger">*</span></label>
							<select name="employee" class="form-select bg-body-tertiary py-3 rounded-4" data-live-search="true">
								<option value=""><?= $jatbi->lang("Chọn Nhân Viên") ?></option>
								<?php foreach ($nv1 as $name): ?>
								<?php $temp = substr($name, strpos($name, '- ') + 2); ?>
									<option value="<?= $name ?>" <?= isset($data['employee']) && $data['employee'] == $temp ? 'selected' : '' ?>>
										<?= $name ?>
									</option>
								<?php endforeach; ?>
							</select>
						</div>
						<div class="col-lg-12">
							<div class="mb-3 d-none">
								<label class="fw-bold text-body mb-2"><?=$jatbi->lang("Mã Tăng ca")?> <span class="text-danger">*</span></label>
								<input type="text" name="ids" class="form-control py-3 rounded-4 bg-body-tertiary" placeholder="<?=$jatbi->lang("Mã Tăng ca")?>" value="<?=$data['ids'] ?? ''?>">
							</div>
							<div class="mb-3 d-flex gap-3 align-items-end">
								<div class="w-50">
									<label class="fw-bold text-body mb-2"><?= $jatbi->lang("Loại") ?> <span class="text-danger">*</span></label>
									<select name="type" class="form-select bg-body-tertiary py-3 rounded-4" data-live-search="true" onchange="updateMoney(this)">
										<option value=""><?= $jatbi->lang("Chọn loại tăng ca") ?></option>
											<?php foreach ($tangca as $ca): ?>
											<?php $temp = substr($ca, 0, strpos($ca, ' -')); ?>
											<option value="<?= $ca ?>" <?= isset($data['type']) && $data['type'] == $temp ? 'selected' : '' ?>>
												<?= substr($ca, 0, strpos($ca, ' ,')) ?>
											</option>
											<?php endforeach; ?>
									</select>
								</div>
								<div class="w-50">
									<label class="fw-bold text-body mb-2"><?= $jatbi->lang("Số tiền") ?></label>
									<input type="text" name="money" class="form-control py-3 rounded-4 bg-body-tertiary" 
										placeholder="<?= $jatbi->lang("Số tiền") ?>" value="<?= $data['money'] ?? '' ?>" min="0" step="0.01">
								</div>
							</div>
							<div class="mb-3 d-flex gap-3">
								<div class="w-50">
									<label class="fw-bold text-body mb-2"><?= $jatbi->lang("Ngày bắt đầu") ?> <span class="text-danger">*</span></label>
									<input type="datetime-local" name="dayStart" class="form-control py-3 rounded-4 bg-body-tertiary" 
										placeholder="<?= $jatbi->lang("Chọn ngày bắt đầu") ?>" value="<?= $data['dayStart'] ?? '' ?>">
								</div>
								<div class="w-50">
									<label class="fw-bold text-body mb-2"><?= $jatbi->lang("Ngày kết thúc") ?> <span class="text-danger">*</span></label>
									<input type="datetime-local" name="dayEnd" class="form-control py-3 rounded-4 bg-body-tertiary" 
										placeholder="<?= $jatbi->lang("Chọn ngày kết thúc") ?>" value="<?= $data['dayEnd'] ?? '' ?>">
								</div>
							</div>
						</div>
						<div class="mb-3">
							<label class="fw-bold text-body mb-2"><?= $jatbi->lang("Ghi Chú") ?></label>
							<textarea name="note" class="form-control py-3 rounded-4 bg-body-tertiary" 
								placeholder="<?= $jatbi->lang("Nhập ghi chú") ?>" rows="5"><?= $data['note'] ?? '' ?></textarea>
						</div>
						<div class="col-lg-12">
							<button type="submit" class="btn btn-primary w-100 py-3 rounded-pill fw-bold" 
								data-action="submit" data-alert="true" data-load="this">
								<?= $jatbi->lang("Hoàn thành") ?>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

